<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @list.item %>
</p>

<p>
  <strong>Description:</strong>
  <%= @list.description %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @list.qty %>
</p>

<p>
  <strong>Store:</strong>
  <%= @list.store %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
